
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(164, 200, 232) ;
    justify-content: center;
}

h1{
    text-align: center;
    width: 100%;
    padding: 10px
}

.nav-cont{
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.nav{
    width:50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

a{
  text-decoration: none;  
  color: black;
}

a:hover{
    color: white;
}
.lang{
    display: flex;
    justify-content: right;
}
.lenguaje{
    display: inline;
    padding-left: 3px;
    padding-right: 6px;

}
li{
    list-style-type: none;
    display: inline-block;
}