:root{
    --background: #12afd6;
    --background2: #085669;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;

}

header{
    background-color: var(--background) ;
    justify-content: center;
    align-items: center;
    min-width: 380px;
}

h1{
    
    text-align: center;
    width: 100%;
    padding: 10px
}

.nav-cont{
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.nav{
    width:50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

a{
  text-decoration: none;  
  color: black;
}

a:hover{
    color: white;
}
.lang{
    display: flex;
    justify-content: right;
}
.lenguaje{
    display: inline;
    padding-left: 3px;
    padding-right: 6px;

}
li{
    list-style-type: none;
    display: inline-block;
}

.mobile{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 15px 100px 0 15px;
    padding: 0;
    display:inline-block;
    border:none;
    height:2rem; width: 2rem;
    border-radius: 50%;
    background-color: var(--background2);
}

.mobile:hover{
    background-color: white;
    cursor:pointer;
}


.menutog{
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    display:inline;
    border:none;
    height:1.9px;
    width: 1rem;
    background-color: white;
    cursor:pointer;
}

.menutog::after{
    content: "";
    display: inline;
    position: absolute;
    top: .3rem;
    right: 0.01rem;
    border:none;
    height:2px;
    padding: 0;
    width: 1rem; 
    background-color: white;
    cursor:pointer;
}

.menutog::before{
    content: "";
    display: inline;
    position: absolute;
    bottom: .3rem;
    right: 0.01rem;
    border:none;
    height:2px;
    padding: 0;
    width: 1rem; 
    background-color: white;
    cursor:pointer;
}

.toggler{
    display:none;
}

.toggler:checked ~ .nav-cont{
    display:none;
}